/* Font Face Declarations */
@font-face {
  font-family: "JabbingDemoTexture";
  src: url("../assets/fonts/JabbingDemoTexture.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "District";
  src: url("../assets/fonts/District.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik Glitch";
  src: url("../assets/fonts/RubikGlitch-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Genniro";
  src: url("../assets/fonts/Genniro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aquoos 3D";
  src: url("../assets/fonts/Aquoos 3D.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kora";
  src: url("../assets/fonts/Kora.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spectra Volt";
  src: url("../assets/fonts/Spectra Volt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Omega Sans Bold";
  src: url("../assets/fonts/Omega Sans Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* CSS Custom Properties (Variables) */
:root {
  /* Color Variables HEX */
  --void-black: #0a0a0aff;
  --sunset-orange: #d3541aff;
  --moody-purple: #3a2465ff;
  --forest-green: #1e3a2aff;
  --satin-sheen-gold: #c4a742ff;
  --lunar-ash: #e8e6e1ff;

  /* Color Variables RGB */
  --void-black-rgb: 10, 10, 10;
  --sunset-orange-rgb: 211, 84, 26;
  --moody-purple-rgb: 58, 36, 101;
  --forest-green-rgb: 30, 58, 42;
  --satin-sheen-gold-rgb: 196, 167, 66;
  --lunar-ash-rgb: 232, 230, 225;

  /* Font Variables */
  --font-primary: "Space Mono", Arial, sans-serif;
  --font-heading: "Rubik Glitch", "JabbingDemoTexture", Arial, sans-serif;
  --font-accent: "District", Georgia, serif;
  --font-display: "Aquoos 3D", Impact, sans-serif;
  --font-body: "Omega Sans Bold", Arial, sans-serif;
  --font-special: "Spectra Volt", monospace;

  /*Gradient Variables*/
  --white-begin-all: linear-gradient(
    90deg,
    var(--lunar-ash) 0%,
    var(--forest-green) 20%,
    var(--moody-purple) 40%,
    var(--sunset-orange) 60%,
    var(--satin-sheen-gold) 80%,
    var(--lunar-ash) 100%
  );
  --white-begin-three-center: linear-gradient(
    90deg,
    var(--lunar-ash) 0%,
    var(--moody-purple) 25%,
    var(--sunset-orange) 50%,
    var(--satin-sheen-gold) 75%,
    var(--lunar-ash) 100%
  );
  --black-begin-all: linear-gradient(
    90deg,
    var(--void-black) 0%,
    var(--forest-green) 20%,
    var(--moody-purple) 40%,
    var(--sunset-orange) 60%,
    var(--satin-sheen-gold) 80%,
    var(--void-black) 100%
  );
  --black-begin-three-center: linear-gradient(
    90deg,
    var(--void-black) 0%,
    var(--moody-purple) 25%,
    var(--sunset-orange) 50%,
    var(--satin-sheen-gold) 75%,
    var(--void-black) 100%
  );

  /* Opacity Variables */
  --opacity-10: 0.1;
  --opacity-20: 0.2;
  --opacity-30: 0.3;
  --opacity-40: 0.4;
  --opacity-50: 0.5;
  --opacity-60: 0.6;
  --opacity-70: 0.7;
  --opacity-80: 0.8;
  --opacity-90: 0.9;
}
/* Base Styles */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  color: var(--lunar-ash);
  background-color: var(--void-black);
  position: relative;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  overflow-x: hidden;
}
/* Main Content Styles */
main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background-color: #001f7c38;
}

/* TODO: Add primary, secondary, ghost, holographic, icon, and such type of buttons */
button {
  color: var(--lunar-ash);
  padding: 15px 35px;
  border-radius: 50px;
  border: 1px solid var(--satin-sheen-gold);
  background-color: var(--void-black);
  box-shadow: 0 0 5px var(--satin-sheen-gold);
  cursor: pointer;
  transition: 0.3s;
}
/* Video Background Styles */
.back-vid {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  mix-blend-mode: overlay;
}

/* Header Styles */
header {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  width: auto;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.121);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 15px var(--moody-purple);
  z-index: 999;
}

.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo h1 {
  font-family: var(--font-display);
  font-size: 1rem;
  color: var(--lunar-ash);
  text-decoration: none;
  font-weight: normal;
}
.nav-logo img {
  width: 40px;
  margin: 0 15px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding: 15px 15px;
  border-radius: 50px;
  background-color: rgba(0, 0, 69, 0.326);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px var(--moody-purple);
  list-style: none;
}

.nav-menu li a {
  color: var(--lunar-ash);
  text-decoration: none;
  font-family: var(--font-body);
  font-weight: 700;
  transition: 0.3s;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.nav-menu a:hover {
  color: var(--sunset-orange);
  text-shadow: 0 0 15px black;
}

.box-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.box-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border: 2px solid var(--satin-sheen-gold);
  text-decoration: none;
  color: var(--satin-sheen-gold);
  border-radius: 50%;
  cursor: pointer;
}

.box-icons a:hover {
  background-color: var(--lunar-ash);
  color: var(--void-black);
  box-shadow: 0 0 15px var(--sunset-orange);
  transition: 0.3s;
}

.blackhole-box {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: -1;
  mix-blend-mode: lighten;
}

.blackhole {
  width: 100%;
  margin-top: -23.5%;
}

/* Hero Section */
.hero {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.hero-info {
  position: absolute;
  max-width: 800px;
  left: 5%;
}

.hero-info .hero-info-title {
  color: var(--lunar-ash);
  padding: 8px 5px;
  border-radius: 50px;
  border: 1px solid #72a1de94;
  width: 240px;
  background-color: #2200493d;
  box-shadow: 0 0 5px #72a1de84;
}

.hero-info h1 {
  font-family: var(--font-display);
  font-size: 60px;
  max-width: 600px;
  font-weight: 700;
  line-height: 70px;
  margin-top: 40p;
  margin-bottom: 30px;
}

.hero-info p {
  max-width: 500px;
  line-height: 25px;
  margin-bottom: 40 px;
  font-size: 20px;
}
/* .hero-info button {
  color: var(--lunar-ash);
  padding: 15px 35px;
  border-radius: 10px;
  border: 1px solid var(--sunset-orange);
  background-color: var(--moody-purple);
  box-shadow: 0 0 5px var(--sunset-orange);
  cursor: pointer;
  transition: 0.3s;
}
.hero-info button:hover {
  box-shadow: 0 0 5px var(--satin-sheen-gold);
} */

.hero-vid-box {
  position: absolute;
  right: 3%;
}

.hero-vid {
  height: 900px;
  mix-blend-mode: lighten;
}

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid lightgray;
  position: absolute;
  left: 49%;
  bottom: 8%;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.626);
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid lightgray;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 2s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.5s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

/* Info Section */
.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 100px;
}

.section-title {
  font-size: 40px;
  font-weight: 700;
}

.info-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: auto;
  height: 40vh;
  overflow: hidden;
  border: 1px solid var(--lunar-ash);
  background-color: var(--void-black);
  border-radius: 20px;
  transition: 0.5s;
}

.card img {
  width: 80%;
  height: 50%;
  object-fit: cover;
}

.card h1 {
  position: absolute;
  margin: 0;
  bottom: 40%;
  left: 5%;
  font-size: 25px;
  z-index: 1;
  color: var(--satin-sheen-gold);
}

.card p {
  position: absolute;
  bottom: 3%;
  left: 5%;
  z-index: 1;
  max-width: 300px;
  color: var(--lunar-ash);
  font-size: 13px;
  line-height: 20px;
}

.card video {
  margin-top: 10%;
  width: 70%;
  height: 50%;
  object-fit: cover;
  mix-blend-mode: lighten;
  overflow: visible;
}
.card button {
  position: absolute;
  bottom: 5%;
  left: 5%;
  padding: 10px 25px;
  border: 1px solid var(--lunar-ash);
  background-color: transparent;
  color: var(--lunar-ash);
  border-radius: 20px;
  box-shadow: 0 0 5px var(--lunar-ash);
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  box-shadow: 0 0 15px var(--lunar-ash);
  opacity: 0.7;
}

.card:hover {
  box-shadow: 0 0 15px rgba(var(--lunar-ash-rgb var(--opacity-50)));
}

.card:nth-child(3) {
  grid-row: span 2;
  height: 83vh;
}
.card:nth-child(3) p {
  bottom: 12%;
}

.card:nth-child(3) h1 {
  bottom: 21%;
}

.card:nth-child(4) {
  grid-column: span 2;
}

.card:nth-child(4) p {
  max-width: 650px;
}

.card:nth-child(4) h1 {
  bottom: 35%;
}

/* Project section */
.my-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 30px;
  width: 80%;
  height: 100vh;
  margin-top: 200px;
  margin-bottom: 700px;
}

.project-card {
  display: flex;
  width: 100%;
  height: 40%;
  align-items: center;
  gap: 40;
  justify-content: center;
}

.project-vidbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  mix-blend-mode: exclusion;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  min-width: 400px;
}

.project-vidbox video {
  object-fit: cover;
  width: 100%;
  box-shadow: 0 0 10px lightgray;
  border-radius: 20px;
  transition: 0.5s;
}

.project-vidbox video:hover {
  box-shadow: 0 0 25px rgb(var(--satin-sheen-gold-rgb));
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
  padding-left: 10%;
}

.project-info h1 {
  width: 90%;
  font-size: 25px;
  font-weight: bold;
  text-wrap: nowrap;
  margin-bottom: 10px;
  margin-top: 0;
  max-width: 450px;
}

.project-info p {
  width: 90%;
  max-width: 400px;
  min-width: 300px;
  margin-bottom: 50px;
  margin-top: 0;
}

.project-info button {
  color: var(--lunar-ash);
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid var(--satin-sheen-gold);
  background-color: var(--void-black);
  box-shadow: 0 0 5px var(--satin-sheen-gold);
  cursor: pointer;
  transition: 0.3s;
}

.project-info button:hover {
  box-shadow: 0 0 15px var(--lunar-ash);
  opacity: 0.7;
}

.hover-sign {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100px;
}

.hover-sign::before,
.hover-sign::after {
  content: "👆🏾";
  text-align: center;
  position: absolute;
  font-size: 50px;
  top: 20;
  left: 40px;
  border-radius: 50%;
  animation: hoverAnimation 3s ease-in-out infinite;
}

.hover-sign.active {
  display: none;
}

/* Skills Section */
.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.skills-box {
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  mix-blend-mode: lighten;
  opacity: 0.7;
}

.skills-image {
  width: 70%;
  mix-blend-mode: difference;
}

.designer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  top: 25%;
  left: 5%;
  max-width: 300px;
}

.designer h1 {
  font-size: 50px;
  display: flex;
  align-items: center;
}

.designer p {
  line-height: 23px;
}

.coder {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  top: 25%;
  right: 5%;
  max-width: 300px;
}

.coder h1 {
  font-size: 50px;
  display: flex;
  align-items: center;
}

.coder p {
  line-height: 23px;
}

.coder-text {
  font-size: 50px;
}

/* SLIDER  */

.slider {
  position: absolute;
  bottom: 5%;
  right: 20%;
  width: 60%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
  mix-blend-mode: difference;
  opacity: 0.7;
}
.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc(
    (10s / var(--quantity)) * (var(--position) - 1) - 10s
  ) !important;
}
.slider .list .item img {
  width: 100%;
}
@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}
.slider .item:hover {
  filter: grayscale(0);
}
